
body {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: contain;
}

* {
    font-family: Raleway;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 85%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Styling for navigation bar*/
.logo{
    height: 50px;
}

.navbar {
    border: 2px solid red;
    width: 100%;
}

ul {
    margin: 0;
}

li {
    height: 100%;

}

.navbar a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    list-style: none;
    height: 100%;
}

.nav-link a{
    text-decoration: none;
    color: #151814;    
    padding: 0px 20px;    
}

.nav-link :hover {
    border-top: 2px solid blue; 
    color: blue;
}

/* Styling for search bar*/
.search-container {
    width: 100%;
    height: 60px;
    display: flex;
    border-radius: 15px;
    align-items: flex-start;
    justify-content:flex-start;
}

.search-bar {
    border: 1px solid lightgrey;
    width: 400px;
    max-width: 600px;
    height: 55px;
    border-radius: 15px;
    position: relative;

}

.search-bar .fa-solid {
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    position:absolute;
    background-color: lightgrey;
    color: black;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    width: 40px;
    left: 0;
    top: 0;
    border-radius: 15px 0 0 15px;
    height: 100%;
}


.search-bar input {
    background: white;
    font-size: 16px;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    outline:none;
    border: none;
    padding-left: 50px;
}

.search-bar .search-button {
    position:absolute;
    background-color: blue;
    font-size: 16px;
    color: white;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100px;
    right: 0;
    top: 0;
    border-radius: 0 15px 15px 0;
    height: 100%;

}

::placeholder{
    color: black;
}

/*Styling for filters*/
.filters.row {
    justify-content:flex-start;
    gap: 10px;
}

.filter-button {
    position: relative;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 70px;
    padding: 20px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 50px;
    transition: 0.5s;
}


.filter-button:hover {
    padding-left: 5px;
    padding-right: 50px;
    color: white;
    background-color: blue;
}

.filter-button span {
    position:absolute;
    left: -2px;
    width: 51px;
    height: 51px;
    background-color: lightblue;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-button:hover span {
    left: calc(100% - 48px);
    
}

/* Styling for accommodations and most popular */

.subheading{
    width: 100%;
    padding: 0px 20px;
}

.accommodations-and-most-popular {
    justify-content: space-between;
}

.fa-solid {
    color: blue;
}

.fa-regular {
    color:gray;
}

.card {
    width: 30%;
    background-color: white;    
    border-radius: 15px;
    border: 5px solid white;
    overflow: hidden;
    margin: 0 0 20px 0;
    box-shadow: 5px 5px 15px lightgrey;
}

.accommodations {
    width: 68%;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 35px;
} 

.card a {
    text-decoration: none;
    color: #151814;
}

.card-img {
    border-radius: 15px 15px 0 0;    
}

.card-text {
    margin: 0 10px;
}

.card-text p {
    margin: 5px 0;
}

.most-popular{
    width: 30%;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}   

.most-popular .column {
    width: 90%;
    margin: auto;
}

.most-popular .card {
    width: 100%;
    height: 200px;
}

.most-popular .card-img {
    width: 40%;
    object-fit: cover;
}

.most-popular .card-text {
    width: 60%;
}



/* Styling for the activities section*/
.activities-container {
    border: 2px solid orange;
}

.activities-container .column {
    width: 23%;
}

.activities-container .card {
    width: 100%;
    border: none;
    border-radius: 15px;
}

.activities-text {
    padding: 0px 20px;
}

.card-extra-large .card-img {
    height: 500px;
}

.card-large .card-img {
    height: 310px;
}

.card-medium .card-img {
    height: 210px;
}

.card-small .card-img {
    height: 110px;
}


/*Footer styling*/

.footer {
    border: 2px solid red;
    justify-content: space-around;
    background-color: lightgray;
    
}

.footer-column {
    border: 2px solid orange;
}

/* New rules if the window width is smaller than 768px */

@media all and (max-width: 768px) {
    .mobile-phone {
        display: flex;
        flex-flow: row wrap;
    }

    .navbar {
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 100%;
        height: 40px;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }


   

    .nav-link :hover {
        border-top: 0;
        border-bottom: 2px solid blue; 
        color: blue;
    }
    

    .accommodations-and-most-popular {
        display: flex;        
        flex-flow: row-reverse wrap;
    }

    .accommodations {
        width: 100%;    
    }

    .most-popular {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .activities-double {
        width: 100%;
    }

    .activities-double img {
        height: 100px;
    }

    .activities-single img {
        width: 100%;
    }
    
    .activities-single img {
        width: 100%;
        height: 50px;
    }


}